<link rel="stylesheet" href="/static/style.css">

<div id = "header">
  <h1><a class="header" href="/">NYT Crossword Search</a></h1>
  <p>Search 14,535 New York Times crossword puzzles from 1976 through 2018!</p>
</div>

<div id = "nav-menu">
  <h2 class="nav-menu"><a href = "/explore">Explore</a> | <a href= "/solve">Solve</a> | <a href = "/about">About</a></h2>
</div>

<div class="fullwidth-container">

  <div class="fullwidth-child" id="answer-search">
  <h2>Search for an Answer</h2>
  <form action="/solve/search" method="POST">
      <p><label for="word">Enter partial answer to search for, using '?' to indicate unknown letters:</label>
      <input type="text" name="word"/></p>
      <p><input type="submit" value="Search for answers"/></p>
  </form>
  </div>

</div>

<div id = "footer">
  <p>Emma Brennan-Wydra, 2021</p>
</div>
